{#
/**
 * @file
 *
 * Empty cart page template.
 *
 * @ingroup themeable
 */
#}
<div class="cart-empty-page">
<H3>иЗМЕНЕННЫЙ ШАБЛОН ПУСТОЙ КОРЗИНЫ И СООБЩЕНИЕ НИЖе:</H3> 
 {{ 'Your shopping cart is empty.'|t }}
</div>
